#page-compromiso{
    
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    position: absolute;
    display: inline-block;
    justify-content: center;
    text-align: 'center';
}
#txtcompromisohbt1{
display: inline-block;
position: relative;
width: 60%;
margin-left: 20%;
text-align: center;
line-height: 200%;



}

#titlecompromisohbt1{
    
    display: inline-block;
    position: relative;
    margin: auto;
    align-content: center;
    text-align: center;
    width: 100%;
    margin-top: 20%;
    

}

#btncompromiso{
    display: inline-block;
    background-color: rgba(0, 0, 0, 0.5);
    position: relative;
    align-content: center;
    color: white;
    text-align: center;
    width: 20%;
    margin-top:5%;
    margin-left: 40%;
}