#page-menu-habitos {
    
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    position: absolute;
    display: inline-block;
    justify-content: center;
    text-align: 'center';
  
}

#logohabitos{
    display: inline-block;
    position: relative;
    width: 35%;
    margin-left: 32.5%;
    
}

#figuras{
    display: inline-block;
    position: relative;
    width: 7%;
    float: right;
}

#menuhabitologo{
    width: 100%;
    position: relative;
    display: inline-block;
}