#page-actividadhbt1 {
  
    background-repeat: repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    position: absolute;
    display: inline-block;
    justify-content: center;
    text-align: 'center';
    height: 100%;
   
    
}
.logosmenuactividad{
    margin-top: 3%;
    width: 100%;
    
    
    position: relative;
    display: inline-block;
    text-align: 'center';
    justify-content: center;

  }
  #imgqvsactividad{
    
    width:  20%;
    position: relative;
    float: right;
    margin-right:30%;
    margin-top: 2%;
   
}

#img8hsactividad{
    position: relative;
    width:  15%;    
    float: left;
    margin-left: 30%;
    
}

#imgbeberagua{
    position: relative;
    display: inline-block;
    width: 50%;
    margin-left: 25%;
}

#NoTeEsperes{
    position: relative;
    display: inline-block;
    width: 80%;
    margin-left: 10%;
    color: #000392;
    text-align: center;
}

#dia{
    position: relative;
    display: inline-block;
    font-family: 'Agency FB';
    margin-left: 10%;
    font-size: 400%;
    float: left;
    //margin-top: 10%;
}

#personahbt1{
    position: relative;
    display: inline-block;
    width: 50%;
    height: 50%;
    bottom: 0px;
    left: 0px;
    
}

#opcioneshbt1{
    position: relative;
    display:inline-block;
    width: 100%;
    margin-bottom: 0px;
    left: 0px;
    height:auto;
  
}

#opchabito1{
    position: relative;
    display: inline-block;
    width: 100%; 
    
    
}

#menuhbt{
    position: relative;
    display: inline-block;
    width: 40%;
}


#txtactividad{
    position: relative;
    display:inline-block;
    width: 80%;
    margin-left: 10%

}
#feet{
   
    
    width: 100%;
}

