#page-habito1 {
    
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    position: absolute;
    display: inline-block;
    justify-content: center;
    text-align: 'center';
  
}

#textomenu1{
    width: 68%;
    color:#0973ba;
    display: inline-block;
    position: relative;
    float: right;
    margin-top: 15%;
    text-align: center;
}

#tablatest{
    position: relative;
    display: inline-block;
    margin-top:10%;
    width: 30%;
    

}

#tablaactividad{
    position: relative;
    width: 25%;
    display: inline-block;
    justify-content: center;
    text-align: 'center';
    margin-left: 16.6%;
    margin-top:10%;
   
    
}

#rectangulo {
    position: absolute;
}

#bote{
    width: 50%;
    margin-left: 25%;
}

#dias{
    margin-top: -5%;
    color: white;
    text-align: center;
    font-size: 90%;
}