#page-test-actividadfisica {
    
    background-image:url('../assets/imgs/ftestactitudpositiva.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    position: absolute;
    display: inline-block;
    justify-content: center;
    text-align: 'center';


    #esalud{
        position: relative;
        display: inline-block;
        margin-left: 15%;
        margin-top: 10%;
        width: 70%;
       }


.pregunta2{
        position: relative;
        width: 80%;
        margin: auto;
        text-align: center;
        color:#4A148C;
}

#testagua{
        position: relative;
        display: inline-block;
        width: 49%;
        text-align: center;
        

}

#imgtestagua{
        
        position: relative;
        width: 100%;
}

#btnagua{
        position: relative;
        width: 90%;
        padding-top: 6%;
        padding-bottom: 6%;
        font-size: 115%;


}


 
}
