#page-rtestagua {
    
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    position: absolute;
    display: inline-block;
    justify-content: center;
    text-align: 'center';
}

#personas{
    width: 40%;
    position: relative;
    display: inline-block;
    margin-left: 30%;
    margin-top: 8%;


}
#rta{
    text-align: center;
    display: inline-block;
    position: relative;
    width: 50%;
    margin-left: 25%;
}

#contenidota{ 
   // background-color:#89cff4;
    display: inline-block;
    position: relative;
    width: 80%;
    margin-left: 10%;
    text-align: justify;
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 5%;
    padding-bottom: 5%;
    opacity: 0.7;
    font-size: 120%;
    line-height: 180%;
    color:#223d5b;
}