
#page-saludo {
    
    background-image:url('../assets/imgs/fsaludo.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    position: absolute;
    display: inline-block;
    justify-content: center;
    text-align: center;
    
}

#img{
    top: 25%;
    width: 30%;
    align-self: center;
    left:35%;
    right: 35%; 
    position: absolute;
    display: inline-block;
}

#hola{
    
    display: inline-block;
    position: relative;
    top: 40%;
}

#texto{
    color: #a8a5a8;


}