page-perimetro-abdominal {
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    position: fixed;
    display: inline-block;
    justify-content: center;
    text-align: center;
}


#manocorazon2{
    position: absolute;
    margin-top: 50%;
    width: 25%;
    margin-left: -4%;
    text-align: center;
}

#manocruz2{
    position: absolute;
    width: 30%;
    margin-left: -80%;
    margin-top: 45%;
    
}
