#page-introtestagua{

    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    position: absolute;
    display: inline-block;
    justify-content: center;
    text-align: 'center';
}

#encabezadoportada{
    position: relative;
    display: inline-block;
    color:white;
    width: 80%;
    margin-left: 10%;
    text-align: center;
}

#beberaguanatural{
    width: 70%;
    margin-left: 15%;
    position: relative;
    display: inline-block;
    
}

#txtportadabeberaguanatural{
    width: 70%;
    margin-left: 15%;
    position: relative;
    display: inline-block;
    text-align: center;
    font-size: 120%;
}
